*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-ctn{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 200px;
    min-height: 100vh;
    transition: background-color 0.3s ease-in-out;

}

.body-ctn.light{
    background-color: white;
}

.body-ctn.dark{
    background-color: black;
}

.toggle-out{
    display: flex;
    gap: 20px;
}
.toggle {
  position: absolute;   /* Take it out of the normal flow */
  top: 20px;            /* Distance from top */
  right: 20px;          /* Distance from right */
}
